<a href="https://colab.research.google.com/github/kareemullah123456789/stclaret/blob/main/Test_for_Independence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [ ]:
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Is there a relationship between days and smokers/ non-smokers? Test with alpha = 0.05

In [ ]:
tips_new = tips.groupby(["day", "smoker"]).count()
tips_new.head()

             total_bill  tip  sex  time  size
day  smoker
Thur Yes             17   17   17    17    17
     No              45   45   45    45    45
Fri  Yes             15   15   15    15    15
     No               4    4    4     4     4
Sat  Yes             42   42   42    42    42

In [ ]:
df = tips_new[["size"]]
df.head()

             size
day  smoker
Thur Yes       17
     No        45
Fri  Yes       15
     No         4
Sat  Yes       42

In [ ]:
df_new = pd.pivot_table(df, index = "day", columns = "smoker", values = "size")
df_new.head()

smoker  Yes  No
day
Thur     17  45
Fri      15   4
Sat      42  45
Sun      19  57

In [ ]:
stats.chi2_contingency(df_new)

(25.787216672396262,
 1.0567572499836523e-05,
 3,
 array([[23.63114754, 38.36885246],
        [ 7.24180328, 11.75819672],
        [33.15983607, 53.84016393],
        [28.96721311, 47.03278689]]))

pvalue is less than 0.05 --> We reject H0 and accept H1 that there is a relationship between days and smokers/ non-smokers.